# Sample Notebook
This notebook showcases multiple features.

## Fibonacci Sequence
Generate Fibonacci numbers.

In [1]:
def fib(n):
    a, b = 0, 1
    seq = []
    while len(seq) < n:
        seq.append(a)
        a, b = b, a + b
    return seq

fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Factorial Function
Let's compute factorials for a few numbers.

In [2]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

[factorial(i) for i in range(6)]

[1, 1, 2, 6, 24, 120]

## Lists and Code Blocks
- Fruits
  - Apple
  - Banana
- Vegetables
  - Carrot

```python
for i in range(3):
    print(i)
```